<div class="login-frame">
  <h3>Log In to Your Account:</h3>

  <%= form_tag login_path, class: "login" do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Log in", class: "login-button" %>
  <% end %>
</div>
