<h1>All Chef Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="index_recipe">
    <%= link_to recipe.name, admin_recipe_path(recipe) %>
    <%= recipe.status %>
    <%= recipe.user.username %>
    <div class="modify">
      <%= link_to "Edit Recipe", edit_admin_recipe_path(recipe) %>
      <%= link_to "Delete Recipe", recipe_path(recipe), data: {confirm: "Are you sure you want to delete #{recipe.name}?"} %>
    </div>
  </div>
<% end %>

<%= link_to "New Recipe", new_recipe_path %>
