<h1>All Chef Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="index-recipe">
    <%= link_to recipe.name, admin_recipe_path(recipe) %>
      <p class="details">By: <%= recipe.user.username %> | Status: <%= recipe.status %></p>
    <div class="modify">
      <%= link_to "Edit", edit_admin_recipe_path(recipe), class: "edit-delete" %>
      <%= link_to "Delete", recipe_path(recipe), method: :delete, data: {confirm: "Are you sure you want to delete #{recipe.name}?"} %>
    </div>
  </div>
<% end %>

<%= link_to "New Recipe", new_recipe_path %>
