<div class="admin-recipe-view">
  <div class="recipe-stats">
    <div class="recipe-stat">Added by <%= link_to @recipe.user.username.capitalize, user_path(@recipe.user) %></div>

    <div class="recipe-stat">
      at <%= @recipe.created_at.to_formatted_s(:long).slice(0..-7) %>,
    </div>

    <div class="recipe-stat">
      last updated at <%= @recipe.updated_at.to_formatted_s(:long).slice(0..-7) %>
    </div>
  </div>

  <div class="admin-recipe-options">
    <%= link_to "Edit Recipe", edit_admin_recipe_path(@recipe), class: "recipe-option" %>
    <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "recipe-option" %>
    <%= link_to "Cook Recipe-View", recipe_path(@recipe), class: "recipe-option" %>
  </div>
</div>

<%= render partial: "layouts/recipe_layout" %>
