<h1><%= @recipe.name %></h1>

<% @recipe.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>

<% if current_user.id == @recipe.user.id || @recipe.complete? %>
  <div class="recipe_instructions">
    <%= @recipe.instructions %>
  </div>
<% end %>

<% if current_user.id == @recipe.user.id  && !@recipe.complete? %>
  <div class="recipe_status">
    <%= @recipe.status %>
  </div>
<% end %>

<%= form_for @recipe do |f| %>
   <%= f.label "Set Categories" %>
   <%= collection_select(:recipe, :category_ids, Category.all, :id, :name, {}, {multiple: true}) %>
   <%= f.submit "Set Recipe Categories" %>
<% end %>

<% if !current_user.admin? && current_user.id == @recipe.user.id %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
  <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
<% end %>

<% if current_user.admin? %>
  <%= link_to "View Recipe Details", admin_recipe_path(@recipe)%>
  <%= link_to "Edit Recipe", edit_admin_recipe_path(@recipe) %>
  <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete %>
<% end %>
