<% if current_user.id == @user.id %>
  <h5>Welcome, <%= @user.username %></h5>
<% end %>

<p>Username: <%= @user.username %></p>
<p>Current Email:<%= @user.email %></p>
<p>Recipes:</p>
<% @user.recipes.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %>
<% end %>

<% if current_user.id == @user.id %>
<%= @user.role %>
<%= @user.created_at %>
<%= link_to "Logout", login_path, method: :delete %>
<% end %>
