<div class="user-profile-overlay">
  <div class="user-recipes">
    <div class="ur-header"><%= @user.username %>'s Recipes:</div>
      <% @user.recipes.each do |recipe| %>
        <div class="user-recipe">
          <% if current_user.id == @user.id || recipe.complete? || current_user.admin? %>
            <%= link_to recipe.name, recipe_path(recipe) %>
          <% end %>
        </div>
      <% end %>
      <div class="user-recipe">
        <%= link_to "New Recipe", new_recipe_path %>
      </div>
  </div>
</div>
<div class="user-info">
 <% if current_user.image_file_name.nil? %>
 <div class="no-image">
   You haven't uploaded a picture!
   <%= form_for @user do |f| %>
      <%= f.file_field :image %><br>
      <%= f.submit "Update Picture" %>
   <% end %>
 </div>
 <% else%>
   <div class="user-prof-pic">
     <%= image_tag @user.image.url, class: "user-prof-pic" %>
     <% if current_user.id == @user.id  %>
     <div class="new-image">
       <%= form_for @user do |f| %>
          <%= f.file_field :image %><br>
          <%= f.submit "Update Picture" %>
       <% end %>
     </div>
     <% end %>
   </div>
 <% end %>
 <% if current_user.id == @user.id %>
   <h5>Welcome, <%= @user.username %></h5>
 <% end %>

 <p class="user-stats">Username: <%= @user.username %></p>
 <p class="user-stats">Current Email: <%= @user.email %></p>

 <% if current_user.id == @user.id %>
 <p class="user-stats">Position: <%= @user.role %></p>
 <p class="user-stats">Joined Staff: <%= @user.created_at.to_formatted_s(:long).slice(0..-7) %></p>
 <%= link_to "Update Profile", edit_user_path(@user) %>
 <%= link_to "Logout", login_path, method: :delete %>
 <% end %>
</div>
