<nav>
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Staff List", users_path %>
  <%= link_to "New Staff Member", new_user_path %>
  <div class="dropdown">
    <%= link_to "Recipes", admin_recipes_path, class: "dropdown" %>
    <div class="dropdown-content">
      <%= link_to "New Recipe", new_recipe_path %>
    </div>
  </div>
  <%= link_to "Categories", categories_path %>
</nav>
