<div class="recipe-layout">
  <div class="recipe">
    <h3><%= @recipe.name %></h3>
    <% if current_user.id == @recipe.user.id || @recipe.complete? %>
      <div class="recipe-instructions">
        <%= @recipe.instructions %>
      </div>
    <% end %>
    <div class="recipe-status">
      <%= @recipe.status %>
    </div>
  </div>
  <aside>
    <p>Recipe Categories</p>
    <div class="recipe-categories">
      <% @recipe.categories.each do |category| %>
        <div class="recipe-category"><%= link_to category.name.capitalize, category_path(category) %></div>
      <% end %>
      <%= link_to "New Category", new_category_path %>
    </div>
  </aside>
</div>
