<div class="recipe-layout">
  <div class="recipe">
    <h3><%= @recipe.name %></h3>
    <div class="recipe-status">
      Status: <%= @recipe.status %>
    </div>
    <% if current_user.id == @recipe.user.id || @recipe.complete? || current_user.admin? %>
      <div class="recipe-instructions">
        <%= @recipe.instructions %>
      </div>
    <% end %>
  </div>
  <aside>
    <p>Recipe Categories</p>
    <div class="recipe-categories">
      <% @recipe.categories.each do |category| %>
        <div class="recipe-category">
          <%= link_to category.name.capitalize, category_path(category) %>
          <% rc = RecipeCategory.find_by(recipe_id: @recipe.id, category_id: category.id) %>
          <%= link_to "Remove", recipe_category_path(rc), method: :delete, class: "remove-category" %>
        </div>
      <% end %>
      <div class="spacer"></div>
      <div class="new-category">
        <%= link_to "Add Category", new_recipe_recipe_category_path(@recipe) %>
      </div>
      <div class="new-category">
        <%= link_to "New Category", new_category_path%>
      </div>
    </div>
  </aside>
</div>
