<!DOCTYPE html>
<html>
  <head>
    <title>MenuManager</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="flash">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
    <header>
      <% header_images = ["apple", "basil", "bell_pepper", "bowties", "bread", "burger", "celery", "cheese", "corn", "croissand", "dinnerset", "doublepop", "doughnut", "drum", "fish", "fries", "garlic", "grapes","hardboiled", "hot_dog", "kale", "link", "lobster", "maki", "naruto", "nigiri", "noodles_bowl", "noodles", "onion", "pizza", "popsicle", "rice", "romaine", "salt", "sandwich", "shrimp", "shroom", "softserve", "soup", "spinach", "steak", "sunnyside", "utensils", "watermelon"] %>
      <%= image_tag "#{header_images.sample}.svg", alt: "dinner set", class: "header-image" %>
       <h1>Menu Manager</h1>
    </header>
    <div class="access-options">
      <% if !current_user.nil? %>
      <div class="access-status"> Logged in as <%= link_to current_user.username.capitalize, user_path(current_user) %> </div>
      <div class="access-link"><%= link_to "Log Out", login_path, method: :delete %></div>
      <% else %>
      <div class="access-link"><%= link_to "Log In", login_path %></div>
      <% end %>
    </div>
    <section>
      <%= yield %>
    </section>
  </body>
</html>
